body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.page-header {
  background-color: #ffffff;
}
